body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.menu{
	width:100%;
	display: table;
}

.menu-buttons{
	width:100vw;
	height:50vw;
	background-image: url(../img/contact.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: -37px;
}
.menu-buttons h2{
	text-align: center;
	margin-top: 25%;
	color:white;
	font-family: 'Alegreya', sans-serif;
	text-shadow: 1px 1px 3px black, 0 0 5em black;
}
.menu-buttons h2:hover{
	text-shadow: 2px 2px 4px black, 0 0 6em black;
}

.menu-button{
	float:right;
	margin-right: 3%;
	color:white;
	text-shadow: 1px 1px 3px black, 0 0 5em black;
	font-size: 20px;
	
}

.menu-button:hover{
	color:red;
	text-shadow: 1px 1px 3px #3f3f3f, 0 0 5em #3f3f3f;
}

.menu-button a{
	color:inherit;
	text-decoration: none;
}

.contact{
	width: 100%;
	display: table;
	background-color: #232629;
	margin-top: -15px;
}

.contact-form-left{
	width:300px;
	height:200px;
	border-right: 1px solid black;
	margin-left: 34%;
}
.contact h4{
	font-family: 'Alegreya Sans SC', sans-serif;
	color:black;
	text-align: center;
	letter-spacing: 1px;
	color:white;
}

.contact-form-left h6{
	font-size: 18px;
	margin-top: -15px;
	color:red;
}
.contact-form-left p{
	color:white;
}
.contact-form-right{
	width:300px;
	height:200px;
	float:right;
	margin-top: -200px;
	margin-right: 34%;
}
.contact-form-right input{
	width:100px;
	margin-top: 25px;
}

.contact-form-right textarea{
	width:300px;
	margin-top: 5px;
}
/*Футер*/
.page-footer{
  background-color: #151719;
}

.formFooter{
  color: white;
}

.formFooterTextarea{
  color: white;
  border:1px solid white;
  width:100%;
  height: 100px;
  margin-top:20px;
}

.submitFooter{
  cursor: pointer;
  margin-top:10px; 
  width:90px;
  height: 30px;
  background-color:red;
  color:white;
  border: none;
}

.lineHeightFooter{
  line-height: 0.5;
  color:red;
}

.letSpace{
  letter-spacing: 1px;
}

.menuFooter a{
  color:white;
}

.menuFooter a:hover{
  color:red;
}

#padding{
  margin-bottom:70px; 
}

#letSpaceHeadingFooter{
  letter-spacing: 2px;
}
