body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.menu{
  float: right;
  background: rgba( 0,0,0,0.1); 
}

.HeaderBlock{
  display: table;
  float:right;
  width: 100%;
  background-image: url(../img/menuBlock.jpg);
  background-size: 100vw 54vw;
  background-repeat: no-repeat;
}

.linksMenu{
  font-family: 'Alegreya Sans SC', sans-serif;
  text-shadow: 1px 1px 3px black;
  float:left; 
  margin-right:40px; 
}

.linksMenu2 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.logo a{
  color:white;
  text-align: center;
}

.logo:hover a{
  color: red;
}

.linksMenu:hover a{
  color: red;
}

.logo{
  font-size:60px; 
  margin-left:37%; 
  width:350px; 
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px 5px black, 0 0 3em black;
  margin-top: 255px;
}

@media (min-width: 1720px) and (max-width: 1920px) {
  .HeaderBlock{
  height:950px;
}

.logo{
  margin-left:42%;
  margin-top: 370px;
}
}

@media (min-width: 1620px) and (max-width: 1720px) {
.HeaderBlock{
  height: 850px;
}

.logo{
  margin-left:40%;
  margin-top: 325px;
}
}

@media (min-width: 1520px) and (max-width: 1620px) {
.HeaderBlock{
  height: 750px;
}

.logo{
  margin-left:40%;
  margin-top: 290px;
}
.HeaderBlock{
  height: 745px;
}
}

@media (min-width: 1320px) and (max-width: 1520px) {
.HeaderBlock{
  height: 650px;
}

.logo{
  margin-left:40%;
  margin-top: 290px;
}
.HeaderBlock{
    height: 635px;
  }
}

@media (min-width: 1120px) and (max-width: 1320px) {
.HeaderBlock{
  height: 600px;
}

.logo{
  margin-top: 250px;
}
}

@media (min-width: 850px) and (max-width: 1120px) {
.HeaderBlock{
  height: 600px;
}

.logo{
  margin-left:35%;
  margin-top: 200px;
}
}

@media (min-width: 650px) and (max-width: 850px) {
.HeaderBlock{
  height: 600px;
}

.logo{
  width:250px;
  font-size:40px; 
  margin-left:35%;
  margin-top: 140px;
}
}

@media (min-width: 520px) and (max-width: 650px) {
.HeaderBlock{
     height: 550px;
  }

.logo{
  width:170px;
  font-size:30px; 
  margin-left:38%;
  margin-top: 130px;
}
}

@media (min-width: 450px) and (max-width: 520px) {
.HeaderBlock{
     height: 550px;
  }

.logo{
  width:170px;
  font-size:27px; 
  margin-left:38%;
  margin-top: 110px;
}
}

@media (min-width: 380px) and (max-width: 450px) {
.HeaderBlock{
  height: 550px;
}
.logo{
  width:160px;
  font-size:27px; 
  margin-left:35%;
  margin-top: 90px;
}
}

@media (min-width: 350px) and (max-width: 380px) {
.HeaderBlock{
  height: 550px;
}
.logo{
  width:140px;
  font-size:25px; 
  margin-left:32%;
  margin-top: 75px;
}
}

@media (min-width: 300px) and (max-width: 350px) {
.HeaderBlock{
     height: 550px;
  }
.logo{
  width:140px;
  font-size:25px; 
  margin-left:32%;
  margin-top: 75px;
}
}

@media (min-width: 250px) and (max-width: 300px) {
.HeaderBlock{
   height: 550px;
}
.logo{
  width:117px;
  font-size:17px; 
  margin-left:32%;
  margin-top: 50px;
}
.linksMenu{
  font-size:5px; 
  margin-right:40px; 
}
}