body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.HeaderBlock{
  text-align: center;
  display: table;
  float:right;
  width: 100%;
  background-image: url(../img/menu1.gif);
  background-size: 100vw 65vw;
  background-repeat: no-repeat;
}

.menuBlock{
  width: 100%;
}

.menu{
  margin-top:20px; 
  float:right;
  font-size:17px; 
  padding-bottom:10px;  
}

.menu a{
  color: white;
}

.linksMenu{
  text-shadow: 1px 1px 3px black, 0 0 2em black;
  float:left; 
  margin-right:40px; 
}

.logo a{
  color:white;
  text-align: center;
}

.logo:hover a{
  color: red;
}

.linksMenu:hover a{
  color: red;
}

.logo{
  text-shadow: 1px 1px 5px black, 0 0 3em black;
  margin-bottom:20%; 
  margin-left: 36vw;
  font-size:60px; 
  width:360px; 
  font-family: 'Righteous', cursive;
  margin-top: 255px;
}

.contentBlock{
  padding:70px;
  display: table;
  background-color: #151719;
  width:100%; 
}

.slide--parent {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

p {
  line-height: 1.8;
  color:#f5f5f5;
}

h3 {
  letter-spacing: 10px;
  color:white;
  margin: 0;
}

.parent--el {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.parent--el .two--col {
  display: flex;
  align-items: center;
}

figure {
  margin: 0;
}

.is-item {
  width: 60%;
}
.is-item.has--img {
  width: 40%;
}

.the-img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.the-img img {
  width: 100%;
}

.is-item--inner {
  padding: 0em 3em;
}

hr {
  margin: 0.5em 0em;
  height: 4px;
  background: #eee;
  border: none;
}

.the-img img {
  position: relative;
  transform: translateX(100%);
  transition: all 600ms ease;
}

.is-item--inner p {
  transform: translateY(15px);
  position: relative;
  opacity: 0;
  transition: all 400ms ease;
}

h3 {
  overflow: hidden;
}
h3 span {
  transform: translateY(100%);
  position: relative;
  transition: all 500ms ease;
  display: inline-block;
}

hr {
  width: 0;
  max-width: 8em;
  transition: all 2500ms ease;
}
.parent--el.is-selected .the-img {
  overflow: hidden;
}
.parent--el.is-selected .the-img img {
  position: relative;
  transform: translateX(0%);
  transition-delay: 500ms;
}
.parent--el.is-selected .is-item--inner p {
  transform: translateY(0px);
  transition-delay: 500ms;
  position: relative;
  opacity: 1;
}
.parent--el.is-selected .is-item--inner p:nth-of-type(2) {
  color: red;
  transition-delay: 700ms;
}
.parent--el.is-selected .is-item--inner p:nth-of-type(3) {
  transition-delay: 900ms;
}
.parent--el.is-selected h3 {
  overflow: hidden;
}
.parent--el.is-selected h3 span {
  transform: translateY(0%);
  position: relative;
  transition-delay: 400ms;
  display: inline-block;
}
.parent--el.is-selected hr {
  width: 100%;
  max-width: 8em;
  transition-delay: 500ms;
}

.infoBlock{
  text-shadow: 1px 1px 1px #18171c;
  display: table;
  width: 100%;
  background-color:#232629;
  color:white;
}

.bckgrndLi{
  float: left;
  margin-top:50px;
  margin-left:30px; 
  width:300px;
  height:400px;
  margin-bottom:50px; 
  text-align: center; 
}

.hrInfo{
  margin-left:85px;
  margin-top:30px;
  width: 100%;
  height:2px;
}

h5{
  color: #ff3333;
  letter-spacing: 4px;
}

.headInfo{
  width:100%;
  text-align: center;
  letter-spacing: 2px;
}

.ourPlace{
  color: white;
  display: table;
  background-color: #151719;
  width:100%; 
  text-align: center;
}

.map{
  margin-top:90px;
  margin-bottom:50px; 
}