* {
	margin: 0;
	padding: 0;
	overflow-x: hidden; }

.HeaderBlock h4 {
	position: absolute;
	float: left;
	color: white;
	margin-top: 8px;
	margin-left: 50px; }

#blockOne {
	width: 100%;
	height: 950px;
	background-color: white; }

#blockOne h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
  	text-shadow: 1px 1px 3px black, 0 0 2em black;
  	text-align: center;
  	margin-right: 10px; }

.card-content p {
	color: black;
}

