@media (min-width: 0px) and (max-width: 600px){
  .menu-buttons h2{
  text-align: center;
  margin-top: 25%;
  color:white;
  font-size: 20px;
  font-family: 'Alegreya', sans-serif;
}
.menu-button{
  float:right;
  margin-right: 5%;
  font-family: 'Alegreya Sans', sans-serif;
  color:white;
  font-size: 10px;
}
}

@media (min-width: 1750px) and (max-width: 1919px){
  .contact-form-left{
  width:250px;
  height:200px;
  border-right: 1px solid black;
  margin-left: 34%;
}

.contact-form-right{
  width:250px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 34%;
}

.contact-form-right textarea{
  width:250px;
}
}

@media (min-width: 1550px) and (max-width: 1749px){
  .contact-form-left{
  width:200px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 37%;
}

.contact-form-right{
  width:200px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 37%;
}

.contact-form-right textarea{
  width:210px;
}
}

@media (min-width: 1366px) and (max-width: 1549px){
  .contact-form-left{
  width:200px;
  height:250px;
  border-right: 1px solid black;
  margin-left: 34%;
}

.contact-form-right{
  width:200px;
  height:230px;
  float:right;
  margin-top: -250px;
  margin-right: 34%;
}

.contact-form-right textarea{
  width:170px;
}
}

@media (min-width: 1265px) and (max-width: 1365px){
  .contact-form-left{
  width:210px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 33%;
}

.contact-form-right{
  width:210px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 33%;
}

.contact-form-right textarea{
  width:170px;
}
}

@media (min-width: 1065px) and (max-width: 1264px){
  .contact-form-left{
  width:210px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 30%;
}

.contact-form-right{
  width:210px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 30%;
}

.contact-form-right textarea{
  width:210px;
}
}

@media (min-width: 950px) and (max-width: 1064px){
  .contact-form-left{
  width:220px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 27%;
}

.contact-form-right{
  width:220px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 27%;
}

.contact-form-right textarea{
  width:210px;
}
}

@media (min-width: 800px) and (max-width: 949px){
  .contact-form-left{
  width:280px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 15%;
}

.contact-form-right{
  width:280px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 15%;
}

.contact-form-right textarea{
  width:210px;
}
}

@media (min-width: 650px) and (max-width: 799px){
  .contact-form-left{
  width:200px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 10%;
  border-right: none;
}

.contact-form-right{
  width:200px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 18%;
}

.contact-form-right textarea{
  width:210px;
}
.menu-button{
  float:right;
  margin-right: 15%;
  font-family: 'Alegreya Sans', sans-serif;
  color:white;
  font-size: 18px;
}
}

@media (min-width: 550px) and (max-width: 649px){
  .contact-form-left{
  width:180px;
  height:230px;
  border-right: 1px solid black;
  margin-left: 15%;
}

.contact-form-right{
  width:180px;
  height:250px;
  float:right;
  margin-top: -200px;
  margin-right: 20%;
}

.contact-form-right textarea{
  width:170px;
}
.menu-button{
  float:right;
  margin-right: 15%;
  font-family: 'Alegreya Sans', sans-serif;
  color:white;
  font-size: 18px;
}

.contact-form-left h6{
  font-size: 15px;
}
}

@media (min-width: 500px) and (max-width: 549px){
  .contact-form-left{
  width:350px;
  height:150px;
  border-right: 0px;
  margin-right: 20%;
  float:right;
  text-align: center;
}

.contact-form-right{
  width:350px;
  height:250px;
  float:right;
  margin-top: 25px;
  margin-right: 20%;
}

.contact-form-right textarea{
  width:340px;
}
.menu-button{
  float:right;
  margin-right: 15%;
  font-family: 'Alegreya Sans', sans-serif;
  color:white;
  font-size: 16px;
}

.contact-form-left h6{
  font-size: 13px;
}
}

@media (min-width: 401px) and (max-width: 499px){


  .contact-form-left{
  width:350px;
  height:150px;
  border-right: 0px;
  margin-top: 55px;
  margin-right: 35%;
}

.contact-form-right{
  width:350px;
  height:250px;
  float:left;
  margin-top: 25px;
  margin-left: 15%;
}

.contact-form-right textarea{
  width:340px;
}
.menu-button{
  float:right;
  margin-right: 5%;
  font-family: 'Alegreya Sans', sans-serif;
  color:white;
  font-size: 20px;
  text-align: center;
}

.contact-form-left h6{
  font-size: 13px;
}
}

@media (min-width: 0px) and (max-width: 400px){

  .contact-form-left{
  width:350px;
  height:150px;
  border-right: 0px;
  margin-top: 55px;
  margin-right: 35%;
}

.contact-form-right{
  width:350px;
  height:250px;
  float:left;
  margin-top: 25px;
  margin-left: 15%;
}

.contact-form-right textarea{
  width:340px;
}
.menu-button{
  float:right;
  margin-right: 5%;
  font-family: 'Alegreya Sans', sans-serif;
  color:white;
  font-size: 13px;
  text-align: center;
}

.contact-form-left h6{
  font-size: 13px;
}
}