* {
	margin: 0;
	padding: 0; }

.HeaderBlock {
   position: fixed;
   z-index: 500; }

.HeaderBlock h4 {
	position: absolute;
	float: left;
	color: white;
	margin-top: 8px;
	margin-left: 50px; }

#blockOne {
	width: 100%;
	background-color: white; }

#blockOne h2 {
	font-family: 'Alegreya Sans SC', sans-serif;
  	text-shadow: 1px 1px 3px black, 0 0 2em black;
  	text-align: center;
  	margin-right: 10px; 
  	margin-top: 5px; }

.photocard p { 
 	position: absolute;
 	font-size: 35px;
	font-family: 'Alegreya Sans SC', sans-serif;
  	text-shadow: 1px 1px 4px black, 0 0 2em black;
  	margin-left: 559px;
  	margin-top: 282px; }

/* 

@media screen and (min-width: 601px) {
  div.photocard {
    font-size: 80px;
  }
} 

*/

#portfolioblock div{
	height: 300px;
	width: 300px;
	background-image: url(../img/project4.png);
	background-size: 100% 100%;
	margin: 9px 3% 0%;
	-moz-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	-webkit-transition: all 0.7s ease-out;
 } 

@media only screen and (max-width:1584px){
	#portfolioblock div{
	margin: 9px 2% 0%;
}
}

@media only screen and (max-width:1478px){
	#portfolioblock div{
	margin: 9px 1% 0%;
}

}

@media only screen and (max-width:1384px){
	#portfolioblock div{
	width:270px;
	margin: 9px 1% 0%;
}

}


@media only screen and (max-width:1247px){
	#portfolioblock div{
	width:300px;
	margin: 9px 7% 0%;
}

}


@media only screen and (max-width:1207px){
	#portfolioblock div{
	width:300px;
	margin: 9px 6% 0%;
}

}

@media only screen and (max-width:1145px){
	#portfolioblock div{
	width:300px;
	margin: 9px 4% 0%;
}

}

@media only screen and (max-width:1037px){
	#portfolioblock div{
	width:300px;
	margin: 9px 3% 0%;
}

}

@media only screen and (max-width:991px){
	#portfolioblock div{
	width:300px;
	margin: 9px 6% 0%;
}

}

@media only screen and (max-width:945px){
	#portfolioblock div{
	width:270px;
	margin: 9px 6% 0%;
}

}

@media only screen and (max-width:852px){
	#portfolioblock div{
	width:270px;
	margin: 9px 5% 0%;
}

}

@media only screen and (max-width:811px){
	#portfolioblock div{
	width:270px;
	height: 270px;
	margin: 9px 4% 0%;
}

}


@media only screen and (max-width:773px){
	#portfolioblock div{
	width:280px;
	height: 270px;
	margin: 9px 2% 0%;
}

}

@media only screen and (max-width:733px){
	#portfolioblock div{
	width:250px;
	height: 250px;
	margin: 9px 3% 0%;
}

}

@media only screen and (max-width:685px){
	#portfolioblock div{
	width:250px;
	height: 250px;
	margin: 9px 2% 0%;
}

}

@media only screen and (max-width:656px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 20% auto;
}
}

@media only screen and (max-width:550px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 17% auto;
}
}

@media only screen and (max-width:500px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 14.5% auto;
}
}

@media only screen and (max-width:450px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 10% auto;
}
}


@media only screen and (max-width:420px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 8% auto;
}
}

@media only screen and (max-width:397px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 5% auto;
}
}

@media only screen and (max-width:370px){
	#portfolioblock div{
	height: 300px;
	width: 300px;
	margin: 9px 2% auto;
}
}

@media only screen and (max-width:360px){
	#portfolioblock div{
	height: 250px;
	width: 250px;
	margin: 9px 11% auto;
}
}

@media only screen and (max-width:340px){
	#portfolioblock div{
	height: 250px;
	width: 250px;
	margin: 9px 6% auto;
}
}

@media only screen and (max-width:317px){
	#portfolioblock div{
	height: 250px;
	width: 250px;
	margin: 9px 3% auto;
}
}

@media only screen and (max-width:30px){
	#portfolioblock div{
	height: 250px;
	width: 250px;
	margin: 9px 0% auto;
}
}
